In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('geyser')
#df = pd.read_csv('input/geyser.csv')

In [3]:
df.head()

   duration  waiting   kind
0     3.600       79   long
1     1.800       54  short
2     3.333       74   long
3     2.283       62  short
4     4.533       85   long

In [4]:
from sklearn.cluster import KMeans
Kmean = KMeans(n_clusters=2);
Kmean.fit(pd.DataFrame(df['duration']));
df['clusters'] = Kmean.labels_

KMeans(n_clusters=2)

In [11]:
df.head()

   duration  waiting   kind  clusters
0     3.600       79   long         0
1     1.800       54  short         1
2     3.333       74   long         0
3     2.283       62  short         1
4     4.533       85   long         0